* {
background-color: #191919;
}
body{
  height: 100vh; /* '-webkit-fill-available'이 유효하지 않을 경우를 대비 */
   height: -webkit-fill-available;
}
html {
     height: -webkit-fill-available;
   }
h1{
font-size : 100pt;
text-align: center;
color:#5194F1;
}
h3{
  font-size : 37pt;
  text-align: center;
  color: white;
}
span{
  text-align: center;
  color: white;
}
p{
  text-align: center;
}

img{
  text-align:center;
}
