* {
background-color: #191919;
}
body{
}
h1{
font-size : 100pt;
text-align: center;
color:#5194F1;
}
h3{
  font-size : 37pt;
  text-align: center;
  color: white;
}
span{
  text-align: center;
  color: white;
}
p{
  text-align: center;
}

img{
  text-align:center;
}
